name: selenium workflow

on: 
  push:
    branches:
      - main
jobs:
  main-job:
    if: github.ref == 'refs/heads/main'
    runs-on: windows-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Running echo command 
        run: echo "Running on Windows"
